*{
    padding: 0;
    margin: 0;
    border: 0;
}

.layers__container{
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
    will-change: transform;
}

.layers_item{
    position: absolute;
    background-size: cover;
    background-position: center;
}
header{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    
}
.background{
    width: 100vw;
    height: 100vh;
    transform: translateZ(-50px) scale(1.1);
    background-position: center;
    background-size: cover;
}

.head-text{
    transform: translateZ(80px) scale(0.8);

}
.hero{
    perspective: 1000px;
    overflow: hidden;
}
.content{
    width: 30vw;
    height: 20vh;
    display: flex;

    padding: 60px, 100px;
    background:rgba(155, 201, 231, 0.3);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;

    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin-left: 34vw;
    margin-top: 30vh;
    
}
.ava{
    width: 5vw;
    height: 5vh;
    border-radius: 9px ;
margin-left: 0.5vw;
}

main{
    /*/padding: 50px, 0px, 50px, 0px;*/
    margin-left: 50px;

}
.card{
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 7vh;
    
    
    box-shadow: -5px 0px  red;
    border-radius: 4px;
}
.near{
    width: 31vw;
    height: 7vh;
    box-shadow: 5px 5px 6px gray;
    border-radius: 4px;
}

.near:hover{
    transition-property: transform;
    transform: translate(0px,-15px);
    transition-duration: 0.4s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
.card_conteiner{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20vw;
    margin-left: 5vw;
    margin-top: 3vh;
}
.ab1{
    margin: 1vw;
}
h2{
    margin-top: 1vw;
}
.features-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type:none;
    margin-top: 5vh;
}
.lis{
    width: 2vw;
    height: 2vw;
}

li{
    width: 20vw;
    height: 6vh;
    border: 2px solid white;
    box-shadow: 0px 0px 6px gray;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    padding-left: 20vw;
    margin-top: 10vh;
    height: 20vh;

}
a{
    color: black;
    text-decoration: none;
}

.contacts, .links{
    padding-top: 1vh;
    padding-left: 1vw;
}

.ab{
    width: 90vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
}